.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    top: 65vh;
}

.nav-items {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;

        .nav-link { 
            text-decoration: none;
            color: #ADB5BD;
        }
}

.nav-link:hover {
   color:#212529;
}

@media screen and (max-width: 1024px) {
    .nav {
        top: 60vh;
    }
    
    .nav-items {
        top: 50%;
        width: 75%;
    }
}

@media screen and (max-width: 851px) {
    .nav {
        top: 60vh;
    }
    
    .nav-items {
        width: 75%;
    }
}
